@import "../../tokens.scss";

.transaction-button {
  .skeleton-loader {
    margin-top: $s-normal;
  }

  &-row {
    display: flex;
    gap: $s-normal;
    margin: $s-normal 0;

    .teller-widget-button {
      flex: 1;
    }
  }

  .disabled-text-message {
    text-align: center;
    font-style: italic;
  }
}
