@import "../../../tokens.scss";

@mixin tableProperties {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loans {
  &-table {
    border: 1px solid $border-color;
    background: white;
    font-family: "Roboto", sans-serif;
    border-radius: $border-radius;

    &-header {
      @include tableProperties;
      padding: 0.8rem $s-normal;
      border-bottom: solid 0.5px $border-color;
      font-family: "Work Sans", sans-serif;
      font-weight: 600;
      color: $text-secondary;
      font-size: 13px;

      &-item {
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
        margin-left: 6px;
        margin-right: 6px;
      }
    }

    &-row {
      padding: $s-normal;
      font-size: 13px;

      &-data {
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        display: grid;
        align-items: center;

        > div {
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
          margin-left: 6px;
          margin-right: 6px;
        }
      }

      &-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-top: 15px;
        button {
          padding: 0.3rem 1rem !important;
          &:only-child {
            grid-column: 1 / span 2;
          }
        }
      }

      .skeleton-loader {
        grid-column: 1 / span 2;
      }

      &:not(:last-child) {
        border-bottom: solid 0.5px $border-color;
      }

      .token-pair {
        display: flex;
        align-items: center;
        margin-left: 6px;
        img {
          width: 17px;
          height: 17px;
          border-radius: 50%;

          &:nth-child(2) {
            margin-left: -5px;
          }
        }
      }
      .payment-buttons {
        display: flex;
        gap: $s-small;
      }
    }
  }

  .no-loans {
    text-align: center;
  }
}
