@import "../../tokens.scss";

.select-buttons {
  font-family: $primary-font;
  width: 100%;
  border: 1px solid $border-color;
  border-radius: 4px;
  display: flex;

  button {
    font-size: 13px;
  }

  &__item {
    background-color: white;
    flex: 1;
    padding: $s-small $s-medium;
    border: none;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    &:hover {
      box-shadow: $bg-secondary;
    }

    &.active {
      box-shadow: $bg-secondary;
      color: $text-primary;
      border-bottom: 3px solid var(--button-primary-color, $primary);
      //border-bottom: 3px solid $primary;
    }
  }
}
