.loader {
  font-weight: bold;
  font-family: sans-serif;
  animation: flashing 1s linear infinite alternate;

  img {
    height: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    filter: grayscale(100%);
  }
}

.skeleton-loader {
  animation: flashing 1s linear infinite alternate;
  background-color: #DCDCDD;
  width: 100%;
  border-radius: 4px;
}

@keyframes flashing {
  to {
    opacity: 0;
  }
}
