@import "../../tokens.scss";

.token-dropdown {
  position: relative;

  &--row-container {
    display: flex;
    border-radius: $border-radius;
    position: relative;
    padding: 10px 12px 10px $s-normal;
    border: 0.5px solid $border-color-secondary;

    &.opened {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.disabled {
      cursor: default;
    }
  }
  align-items: center;
  background-color: rgba(252, 252, 252, 1);

  &.singleWhitelistedToken:hover {
    cursor: default;
  }
  &:not(.singleWhitelistedToken):hover {
    cursor: pointer;
  }

  .token-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .chain-info {
    display: flex;
    align-items: center;
    gap: $s-small;

    img {
      width: 14px;
      height: 14px;
    }
  }

  .token-logo {
    margin-right: $s-small;
  }

  .caret {
    align-items: center;
    padding-left: $s-small;
    border-left: 0.5px solid $border-color-secondary;
    margin: -0.6rem 0 -0.7rem; // extend the border passed parents padding
    display: flex;
    transition: transform 0.3s ease;

    svg {
      transform: rotate(180deg);
    }

    img {
      width: 100%;
    }

    &.opened {
      svg {
        transform: rotate(0deg);
      }
    }
  }

  &--tokens {
    position: absolute;
    background-color: rgba(252, 252, 252, 1);
    z-index: 100;
    width: 100%;
    left: 0%;
    max-height: 375px;
    overflow-y: auto;

    .search-container {
      padding: 8px;
      border: 0.5px solid $border-color-secondary;
      border-top: 0;

      .token-dropdown--search {
        width: 100%;
        padding: 8px 8px 8px 32px;
        border: 0.5px solid $border-color-secondary;
        border-radius: $border-radius;
        font-size: 13px;
        font-family: "Roboto";
        outline: none;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 24 24' fill='none' stroke='%2387a1a1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='6'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E") 8px calc(50% - 0.5px) no-repeat;

        color: #132725;

        &:focus {
          border-color: #bebebe;
        }

        &::placeholder {
            color: #87a1a1;
        }
      }
    }

    .token-dropdown--row {
      padding: $s-small $s-small $s-small $s-normal;
      border: 0.5px solid $border-color-secondary;
      border-top: 0;

      &:last-child {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }

  &--row {
    display: flex;
    flex: 1;
  }
}
