@import "../../tokens.scss";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Work+Sans:wght@300;400;500;600;700&display=swap");

.teller-widget-button {
  &.primary {
    background: linear-gradient(130.85deg, #ffdfa6 0%, #ffc75f 100%);
    color: rgba(69, 51, 19, 1);
    border: none;
  }

  &.secondary {
    background: linear-gradient(130.85deg, #ffffff 0%, #f9f9fb 100%);
    color: $text-primary;
    border: 1px solid $border-color;
  }

  &:not(.bare) {
    border-radius: 4px;
    padding: 0.4rem 1rem;
    line-height: 24px;
    font-size: 13px;
    font-family: "Work Sans", sans-serif;
    transition: cubic-bezier(1, 0, 0, 1);
  }

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  &.full-width {
    width: 100%;
  }

  &.disabled {
    opacity: 50%;
    cursor: not-allowed;
  }
}
