@import "../../../tokens.scss";

.opportunities-list {
  &-header {
    .section-title {
      margin-bottom: $s-normal;
    }
  }

  &-body {
    .paragraph.opportunities-sub-title {
      margin-top: $s-normal;
      margin-bottom: $s-normal;
      margin-left: -1rem;
      margin-right: -1rem;
      border-bottom: 1px solid $border-color;
      padding-left: $s-large;
      padding-bottom: $s-small;

      .opp-pill-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 1rem;
      }
    }
  }

  .opportunity-list-item {
    margin-top: $s-normal;
    margin-bottom: $s-normal;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: $s-large;
    padding-right: $s-large;
    padding-bottom: $s-small;
    border-bottom: 1px solid $border-color;
    cursor: pointer;

    &-header {
      margin-bottom: $s-normal;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-body {
      background-color: $bg-light;
      padding: 0.7rem $s-large;
      margin-bottom: $s-normal;

      display: flex;
      flex-wrap: wrap; // Allow children to wrap onto new lines
      justify-content: space-around;

      > :nth-child(3) {
        margin-top: $s-small;
        flex-basis: 100%; // Force the third child onto a new row
      }
    }

    &-data {
      display: flex;
      align-items: baseline;
      justify-content: center;
      gap: $s-small;

      &-label {
        font-family: 'Work Sans'
      }
      &-value {
        color: $text-primary;
        font-size: 13px;
        line-height: 16px;
        font-weight: 500;
      }
    }

    .data-pill {
      padding: 3px 4px !important;
    }
  }
}
