@import "../../../tokens.scss";

.pay-loan {
  background-color: white;
  height: 100%;
  padding: $s-large;

  .header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px !important;
  }

  .section-title {
    width: 100%;
  }

  &-token-input {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 16px !important; 

    .wallet-amount {
      font-size: 12px;
      text-align: right;
    }
  }

  h2 {
    margin-bottom: $s-normal;
  }

  .data-field {
    margin-bottom: $s-large;
    .loan-information {
      width: 100%;
      font-size: 13px;
      color: $text-primary;

      &-row {
        display: flex;
        justify-content: space-between;
        &:not(:last-child) {
          margin-bottom: .65rem;
        }

        .token-data {
          display: flex;
          align-items: center;
          gap: .3rem;
        }
      }
    }
  }
}
