@import "../../../tokens.scss";

.opportunity-details {
  .back-button {
    margin-bottom: $s-large;
  }

  .separator {
    margin: $s-normal 0;
  }

  .duration-info {
    .section-sub-title {
      color: $text-secondary;
      margin-top: $s-small;
    }
  }

  .fee-details {
    text-align: center;
    margin-top: $s-normal;
  }
}
