@import "../../../tokens.scss";

.opportunity-details {

  .separator {
    margin: $s-normal 0;
    width: 100%;
  }

  .duration-info {
    .section-sub-title {
      color: $text-secondary;
      margin-top: $s-small;
    }
  }

  .fee-details {
    text-align: center;
    margin: $s-normal $s-small;
    font-size: 12px;
  }

  .loading-container {
    width: 100%;
    margin-top: $s-normal;
    height: 1em;
    padding: 0.5rem 1rem;
    line-height: 24px;
    font-size: 13px;
  }

  .back-pill-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $s-large;
  }
}
