@import "../../tokens.scss";

.chain-image {
  img {
    width: 20px;
    height: 20px;
    display: flex;

    &.faded {
      opacity: 0.3;
    }
  }
}

.chain-dropdown {
  position: relative;
  display: flex;
  background-color: white;
  border: 0.5px solid $border-color-secondary;
  padding: 5px 10px;
  border-radius: 4px;

  &.opened {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-row {
    display: flex;
    justify-content: center;

    &-container {
      background-color: white;
      border-radius: $border-radius;
      position: absolute;
      top: 100%;
      padding: 10px 12px 10px $s-normal;
      z-index: 100;
      width: 64px;
      left: -0.5px;
      border: 0.5px solid $border-color-secondary;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  .caret {
    padding-left: $s-small;
    display: flex;
    transition: transform 0.3s ease;

    svg {
      width: 15px;
      height: 15px;
      transform: rotate(180deg);
    }

    &.opened {
      svg {
        transform: rotate(0deg);
      }
    }
  }
}
