@import "../../../tokens.scss";

.borrow-confirmation {
  background-color: rgb(61, 61, 61); // converting from rgba(9, 85, 70, 1) to grayscale
  overflow: hidden;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 13px;
  border-radius: $border-radius;

  &-background {
    right: -40px;
    position: absolute;
    transform: scale(80%);
  }

  &-main-image {
    transform: scale(80%);
    margin-top: -20px;
  }

  &-title {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-wrap: balance;
    line-height: 26px;
    text-align: center;
    color: white;
    margin-top: -10px;
  }

  &-buttons {
    margin-top: $s-normal;
    z-index: 10;
    .teller-widget-button {
      margin-bottom: .7rem;
    }

    .loader-container {
      width: 100%;

      .skeleton-loader {
        width: 300px;
        margin-bottom: $s-normal;
      }
    }
  }

  .label-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $s-small;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
