@import "../../tokens.scss";

.data-field {
    margin-top: $s-small;
    padding: 10px 12px;
    border: 0.5px solid $border-color-secondary;
    border-radius: $border-radius;
    background-color: $bg-light;
    font-size: 13px;

    display: flex;
}