@import "../../tokens.scss";

.data-field {
    margin-top: $s-small;
    padding: 14px 16px;
    border: 0.5px solid $border-color-secondary;
    border-radius: $border-radius;
    background-color: $bg-light;

    display: flex;
}