.blur {
  backdrop-filter: blur(4px);
}

.modal-container {
  font-family: "Work Sans";

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  &-inner {
    inset : 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
  }

  &-content {
    max-height: 100%;
    display: inline-block;

    border-radius: 0.5rem;
    background-color: rgba(248, 248, 250, 1);
    border: 0.5px solid rgba(199, 199, 199, 1);
    padding: 2em 2em .5em;
    transform: translate(0,0) // trick to remove the blur from modal
  }

  .blur-container > div{
    position: absolute;
    inset: 0;
    backdrop-filter: blur(4px);
  }

  .modal-content-title {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .close-button {
      height: 100%;
      display: flex;

      :hover {
        cursor: pointer;
      }
    }
  }

}
