$primary: rgba(255, 206, 114, 1);

$bg-secondary: 0px 3px 25px 0px #C7C7C733 inset;

$border-color: rgba(199, 199, 199, 1);
$border-color-secondary: rgba(190, 190, 190, 1);
$border-color-background: rgba(190, 190, 190, .1);
$border-radius: 4px;


$s-small: 0.5rem;
$s-medium: 0.8rem;
$s-normal: 1rem;
$s-large: 1.5rem;
$s-xlarge: 3rem;

$text-primary: rgba(12, 40, 37, 1);
$text-secondary: rgba(73, 94, 91, 1);
$text-tertiary: rgba(128, 162, 161, 1);

$primary-font: "Work Sans", sans-serif;
$secondary-font: 'Roboto', sans-serif;


