@import "../../../tokens.scss";

.add-to-calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  h1 {
    text-align: center;
  }
  .icons-container {
    display: flex;
    justify-content: space-around;
  }

  .teller-widget-button {
    margin-top: 3em;
  }
}